a{
    text-decoration: none;
}
button{
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 20px;
    text-decoration-line: none;
    color: rgb(7, 7, 7);
    position: relative;
    display: flex;
    background-color: rgb(4, 194, 194);
    border-color: rgba(7, 7, 7, 0.493);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-style: solid;
    border-left-width: 3px;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
    box-shadow: rgb(75, 75, 75);
    margin-bottom: 10px;  
}

.inicio{
    padding: 5px;
    color:#000; 
    font-weight: 600;
}

