    section form {
        display: flex;
        flex-direction: column;
        font-size: 50px;
    }
    
    .caja1{
        border-radius: 20px;
        margin-bottom: 10px;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: rgba(143, 143, 143, 0.479);
        border: none;
    }
    .commit{
        width: 80%;
        border-radius: 8px;
        border-color: burlywood;
        margin-bottom: 10px;
      }
