@media screen and (min-width: 400px) {

  .desktop{
    display: flex;
  }
 }
 
 @media only screen and (max-width: 799px) and (min-width: 499px) {
 
  .desktop {
    display: flex;
  }
 }

a{
 text-decoration: none;
}
