<<<<<<< HEAD

=======
@media (min-width:1281px)  /* hi-res laptops and desktops */ {
<<<<<<< HEAD
  .cajas{
      width: 30vw;
      height: 30vh;
    }
}
>>>>>>> pantalla-principal

@media screen and (min-width: 400px) {
    .registros{
        width: 30vw;
        height: 45vh; 
    }
    .padre1{
        flex-direction: column;
        height: auto;
      }
}
<<<<<<< HEAD

=======
=======

}
>>>>>>> origin/login
>>>>>>> pantalla-principal
