body{
    font-family: 'Roboto', sans-serif;
    
}

.barranav{
    padding-top: 8px;
    padding-bottom: 8px;
}

.imagenes-negocio{
    display: flex; 

img{
    justify-content: center;
    width: 48vw;
    height: 15vh;
    object-fit: cover;
}
}



.menu-comida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-comida ul{
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.menu-comida h2{
margin: 0 0;
}

@media (min-width:1281px)  /* hi-res laptops and desktops */ {

    .imagenes-negocio img{
        width: 48vw;
        height: 60vh;
        object-fit: cover;
      }

      .opiniones-users img{
        width: 10vw;
        padding: 8px;
    }

    .opiniones-users{
        display: flex;
        justify-content: center;
    }

    .user-description{
        display: flex;
    }
    }