*{
   margin: 0%;
   padding: 0%;
   
}

body {
  margin-top: 40px;
  margin-bottom: 45px;
  /*background: linear-gradient(180deg, #66bb6a 60%,
  rgba(255, 255, 255, 0) 80%), linear-gradient(180deg,
  rgba(249, 249, 249, 0) 0%, #66bb6a 0%); */
  padding: 10px 0px 4px 0px;
  width: 100%;
  border: black 3px;
  font-family:'Roboto', sans-serif; 
}

.tacos-imagen {
  background-image:url('https://images.unsplash.com/photo-1560303939-19963b57887b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60');
  background-color: rgb(128, 15, 0);
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  
}

h1 {
  color: black;
  /*text-shadow: 5px 5px 3px #000;*/
}

.flex-container{
  display: flex;
  /*flex-flow: row wrap;*/
  /*align-content: center;*/
  flex-direction: column;
  justify-content: center;
}

.box{ 
  /*border: 1px solid red; */
  margin: 5px;
} 

.shiny-button {
  width: 170px;
  padding:0;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  background-color: rgb(0, 234, 255);
  text-decoration-line: none;
  font-family: 'Roboto', sans-serif;
}

.fa-7x{
  padding: 10px;
}

.inicio{
  padding: 5px;
  color:WHITESMOKE; 
  text-decoration: none
}

@media screen and (min-width: 400px) {

  .desktop{
    display: none;
  }
}

@media only screen and (max-width: 799px) and (min-width: 499px) 
 {

  .desktop{
    display: flex !important;
  }











