body{
    font-family: 'Roboto', sans-serif;
    
}

.barranav{
    padding-top: 8px;
    padding-bottom: 8px;
}

.imagenes-negocio{
    display: flex; 
}

.imagenes-negocio img{
    justify-content: center;
    width: 48vw;
    height: 20vh;
    object-fit: cover;
}


.info-negocio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.info-negocio h2{
    margin: 5px 5px;
}

.img-logo-taco img{
    width: 30vw;
    margin: 0px 5px;
}

.info-negocio ul{
    margin: 5px 5px;
    padding: 10px 10px;

}

.opiniones-users{
    display: block;
    padding: 15px 15px;
    background-color: #f5f5f5;
}

.opiniones-users img{
    width: 15vw;
}

.user-description{
    display: flex;
}

.user-description p img{
    display: flex;
    flex-wrap: wrap;
}

.user-description p{
    padding-left: 8px;
}


.menu-comida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-comida ul{
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.menu-comida h2{
margin: 0 0;
}